<h2><%= @movie.title.titleize %></h2>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <%= @movie.genre.join(", ").titleize %>
  </li>
  <li class="list-group-item"><%= @movie.year %></li>
  <li class="list-group-item"><%= @movie.duration %></li>
  <li class="list-group-item"><%= @movie.location.titleize %></li>
  <li class="list-group-item"><%= @movie.synopsis %></li>
</ul>
<%= link_to "Add to Watchlist", watchlist_movie_watchlists_path(current_user.watchlist, movie_id: @movie.id), class: "btn btn-primary", method: :post %>
<%= link_to "Edit this Movie", edit_movie_path(@movie) %>
<%= link_to "Back to Movies", "/movies" %>
